* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;

}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(127, 119, 160);
  color: wheat;
  width: 100%;
  padding: 30px 30px;
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.navbar a {
  text-decoration: none;
  color: wheat;
}

.navbar a.active {
color:red;
}
ul
{
  padding:10px 20px;
}
.content
{
  padding:10px 20px;
}
h3{
  color:gray;
 font-weight: 400;
}
p{
  margin-top: 5px;
}
.styles
{
text-align: center;
margin-top: 50px;
font-size: 20px;
}
.sub
{
  display: flex;
  gap:40px;
}